{% extends "base.html" %}
{% block content %}

<div class="stats-container">
	<h1 style="text-align: center"> Stats </h1>  	
	<div class="profile">
    	<h2> <image style = "border-radius: 50%; margin-left: 100px; float: left;" width=200px height=200px align="middle" src={{profile.photo}}> 
       	</h2>
	</div>  
	<section name="basic-stats" id="basic-stats">
		<h2 class="profile-name"> {{profile.name}} </h2> 
		<h5 class="profile-item"> Friend : {{friends}} </h2> 
    	<h5 class="profile-item"> Feed : {{feed}} </h2> 
	</section>
    

    <section name="latest-post" id="latest-post">
		<div class="container-post">
			<h4>Latest Post</h4>
			{% if latest_post is not None %}
				<p>{{ latest_post.post }}</p><br>
				<p>{{ latest_post.created_date }}</p><br>
			{% else %}
				<p>This user hasn't posted anything yet :(</p>
			{% endif %}
	</section>

</div>
{% endblock %}