<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<style>
.kotak{
        background-color: white;
        width: 500px;
        margin: auto;
        box-shadow: 5px 5px 5px #888888;
    }
.expert{
    border: 2px solid #F299C2;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin-right: 10px;
 background-color:#F299C2;
}

.img-circle {
        border-radius: 50%;
        width: 200px;
        height: 200px;
}

#expert{
  transition-duration: 0.5s;
}
#expert:hover{
  background-color: white;
}
#editbutton{
  width: 10vw; 
  display:block; 
  margin:0 auto;
  border: #F299C2 solid 2px;
  text-align: center;
  border-radius: 20px;
  background-color: #F299C2;
  color: white;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#editbutton:hover{
  border: #F299C2 solid 2px;
  text-align: center;
  border-radius: 20px;
  background-color: white;
  color: #F299C2;
}

</style>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<section name="profile" style="margin-top:100px; margin-bottom:50px">
<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
    <div class="kotak">
        <div class="container">
            <br/>
    	    <h2 style="text-align: center; margin-top: 20px; font-size: 35px; font-family: Didact Gothic">P R O F I L E</h2>
        </div>
        <div style= "margin-top: 35px" class="profilecenter">
            <div>
                <img class="img-circle" style="display:block; margin:auto;" src={{profile.photo}} border="0" /></a>
                <br/>
                <h2 style="text-align:center; font-family: Alegreya Sans"><b>{{profile.name}}</b></h2>
                <p style="text-align:center; font-family: Alegreya Sans"><i>{{profile.description}}</i></p>
            </div>
        </div>

        <div class="container">
                <!-- Trigger the modal with a button -->
                <button class="btn btn-lg btn-block btn-info" id="editbutton" data-toggle="modal" data-target="#myModal" style="font-size-adjust: 30px">Edit</button>
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="align-items: center; font-family: Alegreya Sans">Edit Profile</h4>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="form-group row">
                            <label for="name" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="name" value="{{profile.name}}">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="description" class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="description" value="{{profile.description}}">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="birthday" class="col-sm-2 col-form-label">Birthdate</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="birthdate" value="{{profile.birthday}}">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="gender" class="col-sm-2 col-form-label">Gender</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="gender" value="{{profile.gender}}">
                            </div>
                          </div>
                            <div class="form-group row">
                              <label for="email" class="col-sm-2 col-form-label">Email</label>
                              <div class="col-sm-10">
                                <input type="email" class="form-control" id="email" value="{{profile.email}}">
                              </div>
                            </div>
                          <div class="form-group row">
                            <label for="expertise" class="col-sm-2 col-form-label">Expertise</label>
                            <div class="col-sm-10">
                              <input type="expertise" class="form-control" id="expertise" value="{{profile.expertise}}">
                            </div>
                          </div>
                        <div class="form-group row">
                          <label for="photo" class="col-sm-2 col-form-label">Photo Image URL</label>
                          <div class="col-sm-10">
                            <input type="link" class="form-control" id="link" value="{{profile.photo}}">
                          </div>
                      </div>
                          <div class="form-group row" style="align-self: center">
                            <div class="col-sm-10">
                              <button type="submit" class="btn btn-lg btn-block btn-info" id="submitbutton" style="float:center">Save</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


        <div class="biodata">
            <table align="center" style="text-align: left; padding: 10px; font-family: Alegreya Sans; font-size: 18px">
                <td style= "font-weight: bold;" class="subject">Birthday</td><td class="value" style=" padding: 10px">{{profile.birthday}}</td>
                <tr><td class="subject" ><b>Gender</b></td><td class="value" style=" padding: 10px">{{profile.gender}}</td></tr>
                <tr><td class="subject" ><b>Email</b></td><td class="value" style=" padding: 10px">{{profile.email}}</td></tr>
            </table>
            <br/>
            <p style= "text-align: center; font-family: Alegreya Sans; font-weight: bolder; font-size: 20px"><b>Expertise</b></p>
            <table align= "center" style= "text-align: center; font-family: Alegreya Sans; font-weight: bolder;">
                <tr>{% for ii in split %}<td class="value" style="text-align: center;"><span style= "padding: 7px; font-color:#FFFFFF" id="expert" class="expert"><b>{{ii}}</b></span>{% endfor %}</td></tr>
            </table> 
            <br/>
        </div>
    </div>
</section>


<br><br>

{% endblock %}
