body{
  margin-top: 50px;
  background-image: url(http://www.designbolts.com/wp-content/uploads/2012/12/Subtle-Grey-Tileable-Pattern-For-Website-Background.jpg);
}

/* Textarea not resizeable */
textarea {
    resizeize:none
  }

#input-friend{
  min-height: 400px;
  background: #eeff4b;
}

#input-friend form{
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
  z-index: 1;
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
}

/* styling judul form, apakah arti dari tanda '>' ? */
#input-friend form > h2{
  font-size: 1.3em;
  color: #2C3E50;
  margin-bottom: 10px;
}
/* styling form input dan textarea, apakah arti dari tanda ',' ? */
#input-friend form > .friend-form-input, #input-list form > .friend-form-textarea{
  padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}


#input-friend:hover {
  top: -5px;
  -webkit-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
}

#friend{
  min-height: 600px;
  background: #5ed2a3;
}

#friend .friend-title{
  font-size: 40px;
  margin-bottom: 1em;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
}
#friend:hover {
  top: -5px;
  -webkit-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
}
.card-body{
  enable-flex: true;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: center;
  align-self: center;
  margin-bottom: 30px;
  
}
.card-body .card {
  display: block;
  align-self: center;
  flex-basis: 25%;
}
.card {
    background: white;
    margin-top: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-right: 20px;
    margin-left: 20px;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

#name-friend {
  padding-top: 10px;
}

#added-friend {
  font-size: 12px;
  padding-top: 0px;
  padding-bottom: 20px;
}


.flex-item{
  padding: 0 15px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
}
/* styling responsive max-width menandakan bahwa rule css ini hanya akan bekerja untuk layar dengan maksimal 768px, jika lebih dari 768px maka rule ini diabaikan */
@media only screen and (max-width: 768px) {
  .flex-item{
    padding: 15px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    border: solid 1px #EFEFEF;
  }
  #input-list form {
      width: 290px;
  }
}
