body {
		margin : 0;
		background-color: #cccccc
	}

	.topnav {
		overflow: hidden;
		background-color: #474747;
		box-shadow: 0px 0px 0px red inset;
	}

	.topnav a {
		display: block;
		float: left;
		color: white;
		text-align: center;
		font-size: 20px;
		padding: 10px 15px;
		text-decoration: none;
		border-left: 1px #686868 solid;
		border-right: 1px #686868 solid;
		transition : box-shadow 0.2s;
	}

	.topnav a:hover {
		box-shadow: 0px -4px 0px red inset;		
	}

	.topnav a.first-item {
		border-left: none;
	}

	.topnav a.last-item {
		border-right: 2px solid #686868;
	}