{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ling In</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
</head>
<style>
	body {
		/*margin:0px;*/
		background-color: #c6e9f4;
		background-repeat : none;
	}

	.container-post {
		background-color: white;
		margin: 10px 200px 10px 200px;
		padding: 20px;
	}

	#basic-stats {
		padding-bottom: 100px;
		margin-top: 50px;
		/*padding-bottom: 500px;*/
	}

	.profile-item {
		color:#565656;
	}

	.container-post {
		box-shadow: 10px 10px 5px #888888;
	}
/*	.home {
		padding: 0px 100px 0px 100px
	}

	.stats-container {
		margin-left: 50px;
		margin-right: 50px; 
		height: 100%
	}
	.topnav {
		overflow: hidden;
		background-color: #474747;
		box-shadow: 0px 0px 0px red inset;
		padding-right: 100px;
		padding-left: 100px
	}

	.topnav a {
		display: block;
		float: right;
		color: white;
		text-align: center;
		font-size: 15px;
		padding: 10px 15px;
		text-decoration: none;
		border-left: 1px #686868 solid;
		border-right: 1px #686868 solid;
		transition : box-shadow 0.2s;
	}

	.topnav p {
		display: block;
		float: left;
		padding: 0px;
	}
	.profile-item{
		margin-left: 20px
	}

	.topnav a:hover {
		box-shadow: 0px -4px 0px red inset;		
	}

	.topnav a.first-item {
		border-right: 2px #686868 solid;
	}

	.topnav a.last-item {
		border-left: 2px solid #686868;
	}*/
</style>
<body>
	<!-- <div class="container">
		<div class="topnav">
			<a class="first-item" href="/home/"> Home </a>
			<a href="#profile"> Profile </a>
			<a href="#friend"> Friend </a>
			<a href="#status"> Status </a>
			<a class="last-item" href="/stats/"> Stats </a>	
		</div>			
	</div> -->

	<div class="container-fullwidth">
        <nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#" style="font-family: Cookie; font-size: 25px ">Ling In</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item" >
                <a class="nav-link" href="/profile/">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/friend/">Friend</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" href="/stats/">Stats</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" href="/update_status/">Status</a>
              </li>
            </ul>
          </div>
        </nav>
    </div>

	{% block content %}
	{% endblock %}	
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</html>