{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container">
	<style>
		#form {
			resize:none
			width:100%
		}
		img {
			float:left
		}

	</style>
	<section name="form">
		<h2>Update Status</h2>
        <form id="form" method="POST" action="{% url 'app_update_status:add_post' %}">
            {% csrf_token %}
            {{ post_form }}
            <br>
            <button type="Post" class="btn btn-default">Post</button>
        </form>
    </section>
    <hr>
	<body>
		{% for data in post reversed %}
			<div class="profile">
				<img src={{profile.photo}} width=50px height=50px></img>
				<h4>{{profile.name}}</h4>
			</div>
			<p id="postingan">{{data.post}}</p>
			<h5 id="tanggal">{{data.created_date}}</h5>
			<hr>
		{%endfor%}
	</body>
</div>
	
{% endblock %}